n8n/workflows/weekly-knowledge-refresh.json
{
  "name": "Weekly Knowledge Refresh",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "weekday": "sunday",
              "hour": 3
            }
          ]
        }
      },
      "id": "cron",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"Source\" WHERE \"active\" = true;"
      },
      "id": "postgres-sources",
      "name": "Postgres Get Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 200]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "batchSize": 1
      },
      "id": "split-sources",
      "name": "Split Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "url": "={{$json[\"base_url\"]}}",
        "responseFormat": "json"
      },
      "id": "fetch-source",
      "name": "Fetch Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [950, 200]
    },
    {
      "parameters": {
        "jsCode": "const articles = Array.isArray(items[0].json.items) ? items[0].json.items : [];\nreturn articles.map(article => ({ json: {\n  canonical_url: article.link,\n  title: article.title,\n  summary: article.summary || article.description,\n  content: article.content || article.summary || '',\n  published_at: article.pubDate,\n  source_id: $items(0).item.json.id\n}}));"
      },
      "id": "normalize",
      "name": "Normalize Articles",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "url": "={{$json.source_id ? `${$json.source_id}` : 'missing'}}",
        "responseFormat": "string",
        "options": {
          "rawResponse": true
        }
      },
      "id": "invoke-backend",
      "name": "Core Service Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1450, 200],
      "notes": "POST do backendu /sources/ingest z przetworzonym payloadem"
    }
  ],
  "connections": {
    "Postgres Get Sources": {
      "main": [[{
        "node": "Split Sources",
        "type": "main",
        "index": 0
      }]]
    },
    "Split Sources": {
      "main": [[{
        "node": "Fetch Source",
        "type": "main",
        "index": 0
      }]]
    },
    "Fetch Source": {
      "main": [[{
        "node": "Normalize Articles",
        "type": "main",
        "index": 0
      }]]
    },
    "Normalize Articles": {
      "main": [[{
        "node": "Core Service Ingest",
        "type": "main",
        "index": 0
      }]]
    },
    "Cron": {
      "main": [[{
        "node": "Postgres Get Sources",
        "type": "main",
        "index": 0
      }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
